// =============== START OF FOOTER ===============
footer.footer1.bg-dark
  // ===== START OF FOOTER COPYRIGHT AREA =====
  .footer-copyright-area.ptb30
    .container
      .row
        .col-md-12
          .d-flex
            .copyright.ml-auto
              a(href='https://github.com/burasu/movie-search') Código
              |  de
              a(href='https://blasfernandez.es') Blas Fernández
              |  con licencia
              a(href='#') MIT
              | . Tema de
              a(href='https://themeforest.net/user/gnodesign') Gnodesign
              | . Datos de películas y series de
              a(href='http://themoviedb.org/') TheMovieDB
              | .
  // ===== END OF FOOTER COPYRIGHT AREA =====
// =============== END OF FOOTER ===============