// =============== START OF HEADER NAVIGATION ===============
// Insert the class "sticky" in the header if you want a sticky header
header.header.header-fixed.header-transparent.text-white
  include menu.pug
// =============== END OF HEADER NAVIGATION ===============