// =============== START OF HEADER NAVIGATION ===============
// Insert the class "sticky" in the header if you want a sticky header
header.header.sticky
  include menu.pug
// =============== END OF HEADER NAVIGATION ===============