// =============== START OF HEADER NAVIGATION ===============
// Insert the class "sticky" in the header if you want a sticky header
header.header.header-transparent.text-white.header-fixed
  include menu.pug
// =============== END OF HEADER NAVIGATION ===============