doctype html
html(lang='en')
  head
    title Movie Search

  body
    h1 Movie Search
    form(method='get', action='/')
      input(type='text', name='search', placeholder='Search for a movie', autofocus)
      input(type='submit', value='Find')
    if movies
      table(border=1)
        tr
          td Título
          td Año Lanzamiento
        each movie in movies.results
          tr
            td= movie.title
            td= movie.release_date

