doctype html
html(lang='en')
  head
    title Movie Search

  body
    h1 Movie Search
    form(method='get', action='/')
      input(type='text', name='search', placeholder='Search for a movie')
      input(type='submit', value='Find')
    if seach
      ul
        each movie in seach
          li= movie.title
