extends layout.pug

block content
  .row.mt-5.pt-5
    .col.text-center
      h2 
        | Bienvenido a 
        strong Movie Search
      h5 Este sitio es sólo de pruebas
      br
      p
        | Desarrollado usando 
        a(href='https://nodejs.org/') Node.js 
        | y 
        a(href='http://expressjs.com/') Express 
        | y atacando a la API de 
        a(href='https://www.themoviedb.org') themoviedb.org 
        | obtiene los datos de las peliculas buscadas.
      p
        | El estilo se ha conseguido usando 
        a(href='https://mdbootstrap.com/') Material Design for Bootstrap 4
        | .