doctype html
html(lang='en')
  head
    include includes/head.pug
  body

    include includes/preloader.pug

    // =============== START OF RESPONSIVE - MAIN NAV ===============
    nav#main-mobile-nav
    // =============== END OF RESPONSIVE - MAIN NAV ===============
    // =============== START OF WRAPPER ===============
    .wrapper
      
      block content

      include includes/footer.pug
      
    // =============== END OF WRAPPER ===============
    // =============== START OF GENERAL SEARCH WRAPPER ===============
    .general-search-wrapper
      form.general-search(role='search', method='get', action='/movies')
        input(name='search', type='text', placeholder='Introduzca el título de una Película')
        span#general-search-close.ti-close.toggle-search
    // =============== END OF GENERAL SEARCH WRAPPER ===============
    // ===== Start of Back to Top Button =====
    #backtotop
      a(href='#')
    // ===== End of Back to Top Button =====
    
    include includes/scripts.pug
