doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Movie Search
    // Font Awesome
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='css/mdb.min.css', rel='stylesheet')
    // Your custom styles (optional)
    link(href='css/style.css', rel='stylesheet')
  body
  
    header  
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.default-color.scrolling-navbar
          a.navbar-brand(href='/')
              strong Movie Search

    block main

    footer.page-footer.font-small.blue.pt-4.mt-4
      .footer-copyright.py-3.text-center
        | © 2018 Copyright:
        a(href='https://blasfernandez.es/')  Blas Fernández 


    // SCRIPTS
    // JQuery
    script(type='text/javascript', src='js/jquery-3.2.1.min.js')
    // Bootstrap tooltips
    script(type='text/javascript', src='js/popper.min.js')
    // Bootstrap core JavaScript
    script(type='text/javascript', src='js/bootstrap.min.js')
    // MDB core JavaScript
    script(type='text/javascript', src='js/mdb.min.js')